.header {
    padding: 20px 30px;
    display: flex;
    justify-content: space-between;
}

.header .left {
    display: flex;
    align-items: center;
}
.header .right {
    display: flex;
    align-items: center;
}

.header .left .logo {
    width: 100px;
}

.header .navbar ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    gap: 20px;
}
.header .navbar ul li {
    display: flex;
    align-items: end;
    font-weight: bold;
}

.header .right a {
    margin: 0 12px;
}

.button-purple {
    display: block;
}

