:root {
    --purple: #67236F;
}

html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}


.button {
    padding: 20px;
    border-radius: 4px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
}

.button-white {
    background-color: white;
    color: var(--purple);
    border: 1px solid var(--purple);
}

.button-purple {
    background-color: var(--purple);
    color: white;
}

text-black {
    color: #0000;
}

.font-upper {
    text-transform: uppercase;
}

.font-bold {
    font-weight: bold;
}